/**
* Some button reset CSS taken from Normalize
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 0px;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: url("img/desktop-background.png");
    background-size: cover;
    padding-top: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
    font-family: "open sans", sans-serif;
    color: black;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

.to-do__container {
    display: block;
    box-sizing: border-box;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px grey;
}

/**
* List styling
*/
ul.to-do__list {
    list-style-type: none;
    padding-left: 0px;
    transition: 0.3s all;
}

ul.to-do__list li {
    transition: 0.3s all;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.to-do__checkbox {
    margin-right: 10px;
}

.to-do__input {
    width: auto;
    min-width: 50px;
    max-width: 600px;
    background-color: #f5f0f0;
    padding: 8px;
}

.to-do__cross,
.to-do__checkbox {
    display: flex;
    align-items: center;
}

/**
* Add item styling
*/

.to-do__add {
    display: flex;
    align-items: center;
    cursor: default;
    transition: 0.3s all;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}

.to-do__add img {
    transform: translateY(-1px);
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

/**
* Animations to use for removing elements.
*/

.remove-animation {
    transform: translateX(-30px);
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.4s ease;
}